/*
 * Copyright 2001, Broadcom Corporation
 * All Rights Reserved.
 *
 * This is UNPUBLISHED PROPRIETARY SOURCE CODE of Broadcom Corporation;
 * the contents of this file may not be disclosed to third parties, copied or
 * duplicated in any form, in whole or in part, without the prior written
 * permission of Broadcom Corporation.
 *
 * $Id: style.css,v 1.6 2002/02/21 00:43:58 mhuang Exp $
 */		   
.title1		{ font-family: Verdana, sans-serif; font-size: 24pt; font-weight: bold }
.title2		{ font-family: Verdana, sans-serif; font-size: 20pt; font-weight: bold }
.title3		{ font-family: Verdana, sans-serif; font-size: 16pt}
.content	{ font-family: Verdana, sans-serif; font-size: 12pt }
.navbar		{ background: #cc0000; color: white; }
.edge		{ background-image: url(repeat_edge_new.gif); width: 100% }
.label		{ font-family: Verdana, sans-serif; font-size: 16pt; font-weight: bold }
.bold		{ font-weight: bold }

.list_background { background: #660066; color: #000000; }

.content_table td {border: inset 1px #000000; }
.content_table pre { width:660px; height:400px; overflow: auto;}

.page_table {background:#660066; width:800px; border:0; margin-top:0; margin-left:0}
.list_table1 { width:40px; border-width:0; padding:0; height:115px; text-align:center; background:#ffffff}
.list_table2 { width:40px; border-width:0; padding:0; text-align:center; background:#ffffff}

.content_table { width:666px; border: solid 1px #E0E0E0; background:#FFFFFF; margin: 0; border-collapse:separate; padding: 0; border-spacing:0; }
.content_title_table1 { width:500px; background:#CCFF00; margin-top:0; margin-left:0; margin-right:0; vertical-align:top}
.content_title_table2 { width:150px; background:#CCFF00; margin-top:0; margin-left:0; margin-right:0; vertical-align:top}
.content_title_table3 { width:150px; background:#CCFF00; margin-top:0; margin-left:0; margin-right:0; vertical-align:top}

.content_value_table { width:600px; border-width:50px; padding:2px; color:#F00F00; background:#FF00FF; margin-top:0; margin-left:0; margin-right:0; vertical-align:top; text-align:left}
.content_value_item_table {width:618px; border-width:2px 2px 2px 2px; padding:2px; color:#FF0000; background:#FF00FF;margin-top:0; margin-bottom:10px; margin-left:0;}

.content_list_table {background: #FFFFFF;  width:618px; margin-top:0; margin-left:0}
.content_list_value_table {background: #FFFFFF; margin-top:0; margin-left:0; text-align:center}

.list_content_tr1 {background: #ffffff; font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #FFFFFF; font-size: 11pt; font-weight: bold}
.list_content_tr2 {background: #000000; font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 11pt; border-width:0 ; padding:0; margin-top:0; margin-left:0}
.list_content_tr3 {background: #ffffff; font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 11pt; border-width:0 ; padding:0; margin-top:0; margin-left:0}
.list_content_td  {background: #990099; height: 30px; width:180px; font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #FFFFFF; font-size: 11pt; font-weight: bold; border-width:0 ; padding:0; margin-top:0; margin-left:0}
.list_content_button  {background: #660066; height: 30px; width:140px; font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #FFFFFF; font-size: 9pt; border-width:0 ; padding:0; margin-top:0; margin-left:0}

.content_background { background: #FFFFFF; color: #000000; }
.content_title1 {width:150px; height:115px}
.content_title2 {width:150px; background:#FFFFFF}
.content_title3 {background: #990099; font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #FFFFFF; font-size: 11pt}
.content_header_tr {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 14pt; font-weight: bold; height:50px; background:#FFBB00;}
.content_header_td_title {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 14pt; font-weight: bold; height:50px; background:#FFBB00; padding-left:6px; padding-right:2px;}
.content_demo_title {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 14pt; font-weight: bold; height:36px; background:#00F000; padding-left:6px; padding-right:2px;}
.content_header_td_help {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 10pt; height:36px; background:#FFFFFF; width:55%; padding-left:12px; padding-right:2px; padding-top:6px; padding-bottom:6px;}
.content_header_td_title_red {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #FFFFFF; font-size: 16pt; font-weight: bold; height:50px; background:#FF0000; padding-left:6px; padding-right:2px;}
.content_header_td_title_yellow {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #FFFFFF; font-size: 16pt; font-weight: bold; height:50px; background:#FFBB00; padding-left:6px; padding-right:2px;}
.content_section_header_tr {font-family: "arial", "Helvetica", sans-serif; text-decoration: none; color: #FFFFFF; font-size: 14pt; height:36px; background:#6666FF; }
.content_section_header_td {font-family: "arial", "Helvetica", sans-serif; text-decoration: none; color: #FFFFFF; font-size: 14pt; height:36px; background:#6666FF; padding-left:6px; padding-right:2px; padding-bottom:8px; padding-top:8px;}
.content_header_td {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 10pt; height:36px; font-weight:bold; background:#FFFFFF; width:55%; padding-left:6px;}
.content_header_td_less {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 10pt; font-weight: bold; height:36px; background:#FFFFFF; width:45%; padding-left:6px;}
.content_header_td_30 {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 10pt; font-weight: bold; height:36px; background:#FFFFFF; width:25%; padding-left:6px;}
.content_header_td_15 {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 10pt; font-weight: bold; height:36px; background:#FFFFFF; width:15%; padding-left:6px;}
.content_input_td {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 10pt; height: 36px; background:#FFFFFF; }
.content_input_fd {font-family: "Arial", sans-serif; text-decoration: none; color: #000000; font-size: 10pt; height:30px; padding-top:4px; background:#FFFFFF; }
.content_input_fd_ro {font-family: "Arial", sans-serif; text-decoration: none; color: #000000; font-size: 10pt; height:30px; padding-top:4px; background:#CCCCCC; }
.content_input_link {font-family: "Arial", sans-serif; text-decoration: none; color: #0000FF; font-size: 9pt; font-style: italic; font-weight: bold; height:24px; padding-top:8px; padding-left:12px;}
.content_input_list_fd {font-family: "Courier", sans-serif; text-decoration: none; color: #000000; font-size: 10pt; background:#FFFFFF;}
.content_input_td_less {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 10pt; background:#FFFFFF}
.content_input_td_padding {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 10pt; height: 36px; background:#FFFFFF; padding-left:6px;}
.content_desc_td {font-family: "Verdana", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 10pt; height: 36px; background:#FFFFFF; padding-left:6px; padding-right:6px; padding-bottom:10px; padding-top:10px; }
.content_desc_td_color {font-family: "Verdana", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 10pt; height: 16px; background:#FFFFFF; padding-left:6px; padding-right:6px; padding-bottom:10px; padding-top:10px; }
.content_desc_td_home {font-family: "Verdana", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 10pt; height: 36px; background:#EEFFDD; padding-left:6px; padding-right:6px; padding-bottom:10px; padding-top:10px; }

.content_list_header_tr {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 14pt; height: 42px; font-weight: bold; background:#FFCC00}
.content_list_field_header_tr {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 14pt; font-weight: bold; height:50px; background:#FFBBFF}
.content_list_header_td {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 14pt; height: 42px; font-weight: bold; background:#FFCC00; padding-left:6px; padding-right:2px;}
.content_list_field_header_td {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 10pt; font-weight: bold; height:36px; background:#FFFFF0;  padding-left:2px; padding-right:2px;}
.content_list_input_td {font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 8pt; height: 36px; background:#FFFFFF; }
.content_log_td {color: #000000; font-size: 9pt; width: 660px; background:#FFFFFF;}
.content_list_body {font-family: fixedsys, monospace; font-size: 10pt; width:100%;}

.content_apply_tr {height:40px; font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 14pt; font-weight: bold; background:#FFFFFF}
.content_apply_td {height:40px; font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 14pt; font-weight: bold; background:#FFFFFF}

.wounderline {  font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #FFFFFF; font-size: 10pt}
.inputSubmit {  font-family: "Arial", "Helvetica", sans-serif; text-decoration: none; color: #000000; font-size: 10pt;}
