#
# Block layer core configuration
#
config BLOCK
       bool "Enable the block layer" if EMBEDDED
       default y
       help
	 This permits the block layer to be removed from the kernel if it's not
	 needed (on some embedded devices for example).  If this option is
	 disabled, then blockdev files will become unusable and some
	 filesystems (such as ext3) will become unavailable.

	 This option will also disable SCSI character devices and USB storage
	 since they make use of various block layer definitions and
	 facilities.

	 Say Y here unless you know you really don't want to mount disks and
	 suchlike.

if BLOCK

config LBD
	bool "Support for large block devices and files"
	depends on !64BIT
	help
	  Enable block devices or files of size 2TB and larger.

 	  This option is required to support the full capacity of large
 	  (2TB+) block devices, including RAID, disk, Network Block Device,
 	  Logical Volume Manager (LVM) and loopback.

	  This option also enables support for single files larger than
	  2TB.

	  If unsure, say N.

config BLK_DEV_IO_TRACE
	bool "Support for tracing block io actions"
	depends on SYSFS
	select RELAY
	select DEBUG_FS
	help
	  Say Y here, if you want to be able to trace the block layer actions
	  on a given queue. Tracing allows you to see any traffic happening
	  on a block device queue. For more information (and the user space
	  support tools needed), fetch the blktrace app from:

	  git://brick.kernel.dk/data/git/blktrace.git

endif

source block/Kconfig.iosched
