bin/*
src/inadyn
src/inadyn.exe
.libs
.deps
*~
#*#
*.la
*.lo
*.o
*.class
*.pyc
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
intltool-extract*
intltool-merge*
intltool-modules*
intltool-update*
libtool
prepare.sh
stamp-h*
mkinstalldirs
config.guess
config.sub
