*.orig
*.bak
*.rej
*.[oa]
*.[oa].cmd
*.l[oa]
*.so
*.so.*
*~
.libs
.deps
.depend
autom4te.cache
config.cache
config.log
config.status
stamp-h1
/gateway/mipsel-uclibc
/gateway/www/web_tmp
/gateway/.svnrev
