/mipsel-uclibc
/www/web_tmp
/.svnrev
authcli/authcli
httpd/httpd
infosrv/infosrv
ipset/ipset
lanauth/lanauth
lltd/lld2d
mjpg-streamer/mjpg-streamer/mjpg_streamer
nvram/nvram
p910nd/p910nd
rc/rc
scsi-idle/scsi-start
vsftpd/vsftpd
wlconf/wlconf
