.*.d
.*.dd
*.a
*.la
*.lo
*.oo
*.so
*.o
.deps
.dirstamp
.libs
Makefile

/extensions/GNUmakefile
/extensions/initext?.c
/extensions/matches?.man
/extensions/targets?.man

/include/xtables.h
/include/iptables/internal.h

/aclocal.m4
/autom4te*.cache
/config.h
/config.log
/config.status
/libtool
/stamp-h1
/libiptc.pc
/xtables.pc

/ip6tables
/ip6tables.8
/ip6tables-multi
/ip6tables-save
/ip6tables-restore
/ip6tables-static
/iptables
/iptables.8
/iptables-multi
/iptables-save
/iptables-restore
/iptables-static
/iptables-xml
