config.log
config.h
config.cache
config.status
stamp-h
stamp-h[0-9]*
*-stamp
Makefile
.deps
mkinstalldirs
autom4te*.cache
configure.lineno
.nfs*
libtool
.arch-inventory
.arch-ids
{arch}
.msg
.rebase-*
*~
*.loT
m4/*.m4
!m4/ax_sys_weak_alias.m4
/doc/defines.texi
/doc/*.info*
/lib/route_types.h
/lib/memtypes.h
/pkgsrc/*.sh
/redhat/quagga.spec
/ospfd/ospfd
/ripd/ripd
/zebra/testzebra
/zebra/zebra
