#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# Normal rules
#
.*
*.o
*.a
*.s
*.ko
*.so
*.mod.c
*.i
*.lst
*.symtypes

#
# Top-level generic files
#
/tags
/TAGS
/vmlinux*
/arch/mips/kernel/vmlinux.lds
/System.map
/Module.symvers

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/asm
include/asm-*/asm-offsets.h
include/asm-*/timeconst.h
include/config
include/linux/autoconf.h
include/linux/compile.h
include/linux/version.h
include/linux/utsrelease.h
/drivers/net/hnd/shared_ksyms.c

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
