Makefile
config.h
src/defs.h
libtool
lpd.perms
/po/Makefile.in
/po/POTFILES
/UTILS/LPRng.pm
/UTILS/accounting.pl
/UTILS/decode_args_with_perl
/UTILS/decode_args_with_sh
/UTILS/fixid
/UTILS/fixupdate
/UTILS/lpq_in_perl
/UTILS/lpr_in_perl
/UTILS/lprm_in_perl
/UTILS/make_lpd_conf
/UTILS/make_printcap_use
/UTILS/makeinc
/UTILS/read_conf
/UTILS/remote_active
/UTILS/test_read
/UTILS/update_z.pl
/src/lpd
/src/pclbanner
/src/psbanner
